<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<ul id="autori"></ul>

<script>

fetch('http://localhost:8081/LibreriaBogliaccino/index.php?src=autoriJson')
    .then(resp => resp.json())
    .then(j =>{ 
        console.log(j);
        var output='';
        //let autori = JSON.parse(j); 

        for (const autore of j) {
            console.log(autore.nome);
            output +=  '<li>'+ autore.nome +'</li>';
        }
    
        document.getElementById("autori").innerHTML = output;
    }
    );

</script>

</body>
</html>