h1 {color: purple;}

ul#menu {
    list-style-type: none;
    text-indent: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 25px;
    padding: .2em;
}

ul#menu li {
    float: left;
    margin-right: 0.5em;
}

